
<div>
    <h2>{{event.name}}</h2>
</div>
<div>
    <label>Date: </label> {{event.date}}
</div>
<div *ngIf="!isEditEvent">
    <button class="btn btn-secondary btn" style="margin-right: 10px;" (click)='editEvent()'>Edit event</button>
</div>

<br/>
<div *ngIf="isEditEvent" style="width: 50%; margin-left: 25%;">
    <label>Select new builder:</label>
    <select class="form-control" (change)="selectUser($event)">
        <option *ngFor="let user of users | async" [value]="user.login">{{user.login}}</option>
    </select>
    <button class="btn btn-secondary btn"  style="margin-right: 10px; margin-top: 10px" (click)='addBuilder()'>Add builder</button>
    <button class="btn btn-secondary btn"  style="margin-top: 10px"(click)='return()'>Return</button>
</div>
<br/>
<div>
    <h5>Tracks:</h5>
    <div *ngFor="let track of eventTracks | async">
        <track-details [track]='track' [event]='event' [isInAdminPanel]='true' (refreshEvent)="loadEventTracks()"></track-details>
    </div>
    <h5>Builders:</h5>
    <div *ngFor="let user of eventBuilders | async">
        <user-details [user]='user' [isBuilder]="true" (deleteBuilder)="deleteBuilder($event)"></user-details>
    </div>
</div>
<br/>
<hr>
