<div *ngIf="routePoint">
    <div>
        <label>Name: </label> {{routePoint.name}}
    </div>
    <div>
        <label>Description: </label> {{routePoint.description}}
    </div>
    <div>
        <label>Lon: </label> {{routePoint.lon}}
    </div>
    <div>
        <label>Lat: </label> {{routePoint.lat}}
    </div>
    <!--<button type="button" class="btn btn-primary btn-sm" (click)='updateUser()' style="margin-right: 10px;">Update</button>
    <button type="button" class="btn btn-danger btn-sm" (click)='deleteUser()'>Delete</button>-->

    <hr/>
</div>
