
<nav class="navbar navbar-expand-md sticky-top navbar-dark fixed-top bg-dark">
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link active" href="#" >SKPT Map creator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="../map">Map</a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
            <a class="nav-link p-2" href="../login" (click)="onLogout()">Logout <span class="sr-only">(current)</span></a>

        </li>
    </ul>
</nav>
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark w-40 mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="width: 40%;">
        <div class="my-3 py-3">
            <h2 class="display-5">Users</h2>
        </div>

        <div *ngFor="let user of users | async">
            <user-details [user]='user'></user-details>
        </div>
    </div>
    <div class="bg-light w-60 mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width: 60%;">
        <div class="my-3 p-3">
            <h2 class="display-5">New map</h2>
            <button *ngIf="!isAddNewMAp" class="btn btn-secondary btn" (click)='addNewMap()'>Add</button>
        </div>
        <form *ngIf="isAddNewMAp"(ngSubmit)="saveNewEvent()" style="alignment: center">
            <div class="form-group row ">
                <div class="col-sm-6" style="margin-left: 25%;">
                    <input type="text" id="name" class="form-control" required [(ngModel)]="newMapName" name="name" placeholder="Map name">
                </div>
            </div>
            <div class="form-group row  d-inline">
                <button type="submit" class="btn btn-success" style="margin-right: 10px">Submit</button>
                <button class="btn btn-secondary" (click)='cancel()'>Cancel</button>
            </div>
        </form>
    </div>
</div>

