

<nav class="navbar navbar-expand-md sticky-top navbar-dark fixed-top bg-dark">
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link active" href="#" >SKPT Map creator</a>
            </li>
            <li *ngIf="showAdminPanelButton" class="nav-item">
                <a class="nav-link " href="../admin-page">Admin page</a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
            <a class="nav-link p-2" href="../login" (click)="onLogout()">Logout <span class="sr-only">(current)</span></a>

        </li>
    </ul>
</nav>
<div style="display: inline-block; float: left; width: 20%; height: 650px; overflow-y: auto ; padding: 20px;">

    <div class="col-sm-5 d-inline" style="margin-left: 15%">
        <h4>Choose event:</h4>
        <select class="form-control" [(ngModel)]="selectedEventName" (change)="select($event)">
            <option *ngFor="let event of events | async" [value]="event.id">{{event.name}}</option>
        </select>
    </div><br/>
    <div *ngIf="isEventChosen">
        <h3>{{selectedEvent.name}}</h3>
        <h4>{{selectedEvent.date}}</h4><br/>
        <div *ngFor="let marker of eventMarkers | async">
            <marker-details [marker]='marker' [event]='selectedEvent' (refreshEvent)='refreshSelectedEvent()'></marker-details>
        </div>
        <button class="btn btn-success btn-sm" (click)='saveMap()'>Save</button>
    </div>

</div>

<div style=" display: inline-block; width: 80%">
    <div id="map" class="map"></div>
</div>

