

<nav class="navbar navbar-expand-md sticky-top navbar-dark fixed-top bg-dark">
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link active" href="#" >SKPT Map creator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="../admin-page">Admin page</a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
            <a class="nav-link p-2" href="../login" (click)="onLogout()">Logout <span class="sr-only">(current)</span></a>

        </li>
    </ul>
</nav>
<div style="display: inline-block; float: left; width: 20%; height: 650px; overflow-y: auto ; padding: 10px;">
    <h2>Maps:</h2>
    <div class="col-sm-8" style="margin-left: 15%">
    <select class="form-control" [(ngModel)]="siteMapName" (change)="select()">
        <option *ngFor="let siteMap of siteMaps | async" [value]="siteMap.name">{{siteMap.name}}</option>
    </select>
    </div><br/>
    <h3>{{siteMapName}}</h3><br/>
    <div *ngFor="let point of sitePoints | async">
        <site-point-details [sitePoint]='point'></site-point-details>
    </div>
    <button class="btn btn-success btn-sm" (click)='saveMap()'>Save</button>
</div>

<div style=" display: inline-block; width: 80%">
    <div id="map" class="map"></div>
</div>

