


<div style="text-align:right">
    <button (click)="adminPage()" type="adminPage" class="btn btn-success" style="margin-right: 10px; margin-top: 10px">Admin page</button>
    <button (click)="onLogout()" type="logout" class="btn btn-success" style="margin-right: 10px; margin-top: 10px">Logout</button>
</div>
<div style="display: inline-block; float: left; margin-top: 30px; width: 20%;">
    <h2>Route points:</h2><br/>
    <div *ngFor="let routePoint of routePoints | async">
        <route-point-details [routePoint]='routePoint'></route-point-details>
    </div>
</div>

<div style="margin-top: 10px; display: inline-block; width: 80%">
    <div id="map" class="map"></div>
</div>

