
<nav class="navbar navbar-expand-md sticky-top navbar-dark fixed-top bg-dark">
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link active" href="#" >SKPT Map creator</a>
            </li>
        </ul>
    </div>
</nav>
<div *ngIf="message.exists" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }">{{message.text}}</div>

<div style="margin-top: 74px">
    <div [hidden]="submitted" style="width: 300px; display: inline-block">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="loginReg">Login</label>
                <input type="text" class="form-control" id="loginReg" required [(ngModel)]="user.login" name="loginReg">
            </div>
            <div class="form-group">
                <label for="passwordReg">Password</label>
                <input type="passwordReg" class="form-control" id="passwordReg" required [(ngModel)]="user.password" name="passwordReg">
            </div>
            <div class="form-group">
                <label for="firstName">First name</label>
                <input type="firstName" class="form-control" id="firstName" required [(ngModel)]="user.firstName" name="firstName">
            </div>
            <div class="form-group">
                <label for="surname">Surname</label>
                <input type="surname" class="form-control" id="surname" required [(ngModel)]="user.surName" name="surname">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" required [(ngModel)]="user.email" name="email">
            </div>
            <button type="submit" class="btn btn-success">Register</button>
            <a routerLink="../login" class="btn btn-link">Return</a>
        </form>
    </div>
</div>
