<nav class="navbar navbar-expand-md sticky-top navbar-dark fixed-top bg-dark">
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link active" href="#" >SKPT Map creator</a>
            </li>
            <li *ngIf="isAdmin" class="nav-item">
                <a class="nav-link " href="../admin-page">Admin page</a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
            <a class="nav-link p-2" href="../login" (click)="onLogout()">Logout <span class="sr-only">(current)</span></a>

        </li>
    </ul>
</nav>
<div style="margin-top: 100px">
    <div style="width: 300px; display: inline-block">
        <h4>Select event:</h4>
        <select class="form-control" [(ngModel)]="selectedEventName" (change)="selectEvent($event)">
            <option *ngFor="let event of events | async" [value]="event.id">{{event.name}}</option>
        </select>
    </div>
</div>
<br/>
<button class="btn btn-secondary"  style="margin-right: 10px" (click)='goToMap()'>Select</button>

