<div *ngIf="marker">
    <div *ngIf="!sitePointEdit">
        <div>
            <label>Lantern: </label> {{marker.lanternCode}}
        </div>
        <div>
            <label>Lon: </label> {{marker.lon}}
        </div>
        <div>
            <label>Lat: </label> {{marker.lat}}
        </div>
        <!--<button type="button" class="btn btn-primary btn-sm" (click)='updateUser()' style="margin-right: 10px;">Update</button>
        <button type="button" class="btn btn-danger btn-sm" (click)='deleteUser()'>Delete</button>-->
        <!--<div *ngIf="!isTrackMarker" class="form-group row d-inline">
            <button class="btn btn-secondary btn-sm" (click)='edit()'>Edit</button>
            <button class="btn btn-secondary btn-sm ml-1" (click)='delete()'>Delete</button>
            <button *ngIf="isLantern" class="btn btn-secondary btn-sm ml-1" (click)='addToTrack()'>Add to track</button>
        </div>-->
    </div>
    <hr/>
</div>
