
<div>
    <div [hidden]="submitted" style="width: 300px; display: inline-block">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" required [(ngModel)]="user.username" name="username">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" required [(ngModel)]="user.password" name="password">
            </div>

            <div class="form-group">
                <label for="password">Mail</label>
                <input type="password" class="form-control" id="mail" required [(ngModel)]="user.mail" name="mail">
            </div>

            <button type="submit" class="btn btn-success">Register</button>
        </form>
    </div>
</div>
